* {
    font-size: 2.9vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(56, 56, 56);
    color:hsl(36, 100%, 84%);
}
#root {
    display: flex;
    flex-direction: column;
}
.grid-even-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, max-content);
    text-align: center;
    justify-self: center;
    align-self: center;
}
button {
    border-radius: 7px;
    padding: .3ch
}
input {
    width: 2ch
}
#sum {
    grid-column: span 2;
}
#error {
    margin: 0;
    grid-column: span 4;
    color: rgb(252, 97, 97);
    text-transform: uppercase;
}