* {
    font-size: 2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1px;
    text-align: center;
}
body {
    background-color: rgb(56, 56, 56);
    color:hsl(36, 100%, 84%);
}
#root {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-bottom: 5vh;
}
footer {
    margin-top: 2px;
    border-style: dashed;
    animation: disappear 2s ease 5s 1 forwards;
}
@keyframes disappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        visibility: collapse;
    }
}
.grid-even-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, max-content);
    justify-self: center;
    align-self: center;
    justify-items: center;
}
button {
    border-radius: 7px;
    padding: 0 3px;
    width: max-content;
    height: min-content;
}
input {
    width: 2ch;
    border-radius: 10%;
}
#sum {
    grid-column: span 2;
}
#error {
    margin: 0;
    grid-column: span 4;
    color: rgb(252, 97, 97);
    text-transform: uppercase;
}